{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codedaddies List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>

    <nav class="blue" >
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Desi Craigslist</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>

<div class="container">
    <h1 style="text-align: center;">Search Anything, You Want!</h1>
    <div class="row">
        <div class="col s4">
            <div class="center">
                <i class="material-icons large " style="color: #2196f3 " >flash_on</i>
                <p>Fast Web scrapper</p>
                <p class="light center">Scrape away right here with a beautiful GUI.</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="material-icons large" style="color: #2196f3;">camera</i>
                <p>Filter your searches here</p>
                <p class="light centerd">Filter based on pricing</p>
            </div>
        </div>

        <div class="col s4">
            <div class="center">
                <i class="material-icons large" style="color: #2196f3;">chrome_reader_mode</i>
                <p>A much sexier front-end to website</p>
                <p class="light centerd">We built this with 🖤</p>
            </div>
        </div>

    </div>

      <form action="{% url 'new_search' %}" method="post">
          {% csrf_token %}
          <input type="text" name="search" id="search_bar" placeholder="Search here..." class="materialize-input">

          <label style="color: #2196f3;"><p>--Select Category--</p></label>
          <select name="category" class="browser-default" style="width: min-content; height:min-content">
              <option value="" disabled selected>Choose your option</option>
              <option value="ccc">community</option>
              <option value="eee">events</option>
              <option value="sss">for sale</option>
              <option value="ggg">gigs</option>
              <option value="hhh">housing</option>
              <option value="jjj">jobs</option>
              <option value="rrr">resume</option>
              <option value="bbb">services</option>
          </select>
          <br>
          <button class="btn waves-effect blue" type="submit" name="action">Search
            <i class="material-icons right">search</i>
          </button>
          
      </form>
      

    {% block content %}

    {% endblock content %}
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>